// section(data-background-iframe="https://cordova.apache.org/" data-transition="zoom")
//    h2 Web page as a background
//        p.fragment.highlight-current-blue Embeds a web page as a background. Note that the page won't be interactive. Page loading time may animations down.
section(data-transition="zoom")
    h2 Zoom Effect and 
        span.neon-text-orange fragments
    p.fragment Simple fragment
    p.fragment.highlight-red Simple RED steady fragment
    p.fragment.highlight-current-green Green then stop!
    span.fragment.fade-in
        span.fragment.fade-out Entering and exiting fragment
    p.fragment.fade-down Dropping down
    p.fragment.neon-blue Glowing Blue steady!
    p.fragment.neon-current-red Glowing Red then stop!