link(rel="icon", type="image/x-icon", sizes="", href="/icons/slides/favicon.ico")
link(rel="icon", type="image/png", sizes="144x144", href="/icons/slides/android-icon-144x144.png")
link(rel="icon", type="image/png", sizes="192x192", href="/icons/slides/android-icon-192x192.png")
link(rel="icon", type="image/png", sizes="36x36", href="/icons/slides/android-icon-36x36.png")
link(rel="icon", type="image/png", sizes="48x48", href="/icons/slides/android-icon-48x48.png")
link(rel="icon", type="image/png", sizes="72x72", href="/icons/slides/android-icon-72x72.png")
link(rel="icon", type="image/png", sizes="96x96", href="/icons/slides/android-icon-96x96.png")
link(rel="icon", type="image/png", sizes="apple-icon", href="/icons/slides/apple-icon.png")
link(rel="apple-touch-icon", type="image/png", sizes="114x114", href="/icons/slides/apple-icon-114x114.png")
link(rel="apple-touch-icon", type="image/png", sizes="120x120", href="/icons/slides/apple-icon-120x120.png")
link(rel="apple-touch-icon", type="image/png", sizes="144x144", href="/icons/slides/apple-icon-144x144.png")
link(rel="apple-touch-icon", type="image/png", sizes="152x152", href="/icons/slides/apple-icon-152x152.png")
link(rel="apple-touch-icon", type="image/png", sizes="180x180", href="/icons/slides/apple-icon-180x180.png")
link(rel="apple-touch-icon", type="image/png", sizes="57x57", href="/icons/slides/apple-icon-57x57.png")
link(rel="apple-touch-icon", type="image/png", sizes="60x60", href="/icons/slides/apple-icon-60x60.png")
link(rel="apple-touch-icon", type="image/png", sizes="72x72", href="/icons/slides/apple-icon-72x72.png")
link(rel="apple-touch-icon", type="image/png", sizes="76x76", href="/icons/slides/apple-icon-76x76.png")
link(rel="apple-touch-icon", type="image/png", sizes="precomposed", href="/icons/slides/apple-icon-precomposed.png")
link(rel="icon", type="image/png", sizes="16x16", href="/icons/slides/favicon-16x16.png")
link(rel="icon", type="image/png", sizes="32x32", href="/icons/slides/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="96x96", href="/icons/slides/favicon-96x96.png")
meta(name="msapplication-TileImage", content="/icons/slides/ms-icon-144x144.png")
meta(name="msapplication-TileImage", content="/icons/slides/ms-icon-150x150.png")
meta(name="msapplication-TileImage", content="/icons/slides/ms-icon-310x310.png")
meta(name="msapplication-TileImage", content="/icons/slides/ms-icon-70x70.png")
link(rel="manifest", href="/icons/slides/manifest.json")