section
    h2 Creating a Cordova App
    
    p.fragment This tutorial will show how to create usable cordova app, a bit more complex than the trivial Hello World, accessing device API through plugins
    p.fragment The app is just tiny multiplatform scanner: it uses QR Codes and NFC (where available) to scan URLs or simple text and then displays them on a list
    p.fragment Each scanned item will be displayed on a list with a different icon depending on the source and type (URL or text)
    p.fragment Supported platforms are: 
        span.text-color-green Android
        |, 
        span.text-color-yellow iOS 
        | and  
        span.text-color-blue Windows 
        | (>= 8.1, including phones)
    
    aside.notes!= require('views/markdown/notes/3_tutorial_app/1_creating_a_cordova_app.md')