section
    h2 Creating the project
    
    p.fragment in this tutorial we show how to use 
        span.text-color-red Cordova CLI 
        | for creating a new Cordova Project
    p.fragment then how to leverage 
        span.text-color-orange npm 
        | for managing dependencies
    p.fragment and finally use 
        span.text-color-violet webpack 
        | for building the JavaScript code
    p.fragment All the code will be available as a git repository
    
    aside.notes!= require('views/markdown/notes/3_tutorial_app/2_create_the_project.md')