section
    h2 Code Structure
    
    p.fragment Since this tutorial is focused on the cordova toolchain, I tried to keep the code as simple as possible
    p.fragment I also tried to give a minimalist MVC structure, but there are frameworks better suited to do so
    p.fragment Nevertheless, I added some handy webpack loaders and plugins to the webpack.config to simplify views code generation
    
    aside.notes!= require('views/markdown/notes/3_tutorial_app/3_code_structure.md')