section
    h2 Code Structure - 2
    
    p.fragment The app 
        i business logic
        |  is written in JavaScript and it is mainly contained in the class 
        span.inline-code Application
        | 
        small.low (a real ES6 class)
    p.fragment The 
        span.inline-code main.js
        |  file is the entry point of our app, which loads all required dependencies and listens for the 
        span.inline-code deviceready
        |  event, and then starts the
        span.inline-code Application
        |  instance 
    p.fragment Third party plugins and the main view are managed directly by the 
        span.inline-code Application
        |  class
    
    aside.notes!= require('views/markdown/notes/3_tutorial_app/4_code_structure.md')