section
    h2 Building & Running
    
    p.fragment
        span.text-color-green webpack
        | , like a Makefile, bundles all the app modules and the webview visual assets into the www directory
    p.fragment
        span.text-color-orange cordova prepare
        |  command will copy the www content folder into each platform directory together with other assets such as icons and splashscreens
    p.fragment we can automate most of the process leveraging 
        span.text-color-yellow npm
        |  and 
        span.text-color-yellow node.js
        |  scripts
    
    aside.notes!= require('views/markdown/notes/3_tutorial_app/5_building_the_app.md')