section
    h2 Getting Production Ready
    
    p.fragment By default the app will be built with 
        span.text-color-red unminified
        |  JavaScript files and  
        span.text-color-red debug mode
        |  active
    p.fragment This simplifies debugging using tools such as 
        span.text-color-violet browsers inspectors
        |  and 
        span.text-color-violet IDE debuggers
    p.fragment Once ready for publishing, we can 
        span.text-color-yellow minify the app bundle
        |  and build the 
        span.text-color-yellow release 
        |  package
    p.fragment The last step before publishing to the app stores is 
        span.text-color-green signing the app
        |  with target-specific developer keys 
    
    aside.notes!= require('views/markdown/notes/3_tutorial_app/6_getting_ready_for_production.md')