section
    section
        h2 Tutorial App: Tiny Tag Scanner
        img(src=require("images/Tutorial_App_1.jpg") alt="Screenshot of the tutorial app" title="Tutorial App: multiplatform scanner" width="400px")
    include ./1_creating_a_cordova_app.jade
    include ./2_create_the_project.jade
    include ./3_code_structure.jade
    include ./4_code_structure.jade
    include ./5_building_the_app.jade
    include ./6_getting_ready_for_production.jade