@mixin phone() {
    @media (max-width: 479px) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: 839px) and (min-width: 480px) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: 840px) {
        @content;
    }
}

@mixin phoneVertical() {
    @media (max-width: 479px) and (orientation: portrait) {
        @content;
    }
}

@mixin tabletVertical() {
    @media (max-width: 839px) and (min-width: 480px) and (orientation: portrait) {
        @content;
    }
}

//TODO review horizontal mixins because sizes may be wrong
@mixin phoneHorizontal() {
    @media (max-width: 479px) {
        @content;
    }
}

@mixin tabletHorizontal() {
    @media (max-width: 839px) and (min-width: 480px) {
        @content;
    }
}