//Neon Glow effect
//credits https://codepen.io/FelixRilling/pen/qzfoc
$neon-red: #FF1177;
$neon-blue: #228DFF;
$neon-yellow: #FFDD1B;
$neon-green: #B6FF00;
$neon-orange: #FF9900;
$neon-violet: #ff00de;
//Sass nested list
$neon-colors:( ( 'red', $neon-red), ( 'blue', $neon-blue), ('yellow', $neon-yellow), ('green', $neon-green), ('orange', $neon-orange), ('violet', $neon-violet));
@mixin neon-text($color) {
    $light: lighten($color, 30%);
    from {
        text-shadow: 0 0 10px $light, 0 0 20px $light, 0 0 30px $light, 0 0 40px $color, 0 0 70px $color, 0 0 80px $color, 0 0 100px $color, 0 0 150px $color;
    }
    to {
        text-shadow: 0 0 5px $light, 0 0 10px $light, 0 0 15px $light, 0 0 20px $color, 0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
    }
}

@mixin neon-box($color) {
    $light: lighten($color, 30%);
    from {
        box-shadow: 0 0 10px $light, 0 0 20px $light, 0 0 30px $light, 0 0 40px $color, 0 0 70px $color, 0 0 80px $color, 0 0 100px $color, 0 0 150px $color;
    }
    to {
        box-shadow: 0 0 5px $light, 0 0 10px $light, 0 0 15px $light, 0 0 20px $color, 0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
    }
}

@mixin neon-filter-shadow($color) {
    $light: lighten($color, 30%);
    from {
        filter: drop-shadow(0px 0px 5px $light);
    }
    to {
        filter: drop-shadow(0px 0px 10px $color);
    }
}

@each $name,
$color in $neon-colors {
    .text-color-#{$name} {
        color: lighten(desaturate($color, 25%), 5%);
    }
    .neon-text-#{$name} {
        color: $color;
        animation: neon-text-#{$name} 1.5s ease-in-out infinite alternate;
    }
    @keyframes neon-text-#{$name} {
        @include neon-text($color);
    }
    .neon-box-#{$name} {
        animation: neon-box-#{$name} 1.5s ease-in-out infinite alternate;
    }
    .neon-shadow-#{$name} {
        padding: 20px;
        background-clip: content-box;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-size: contain;
        animation: neon-filter-shadow-#{$name} 1.5s ease-in-out infinite alternate;
    }
    @keyframes neon-box-#{$name} {
        @include neon-box($color);
    }
    @keyframes neon-filter-shadow-#{$name} {
        @include neon-filter-shadow($color);
    }
}