@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import './_mediaQueries.scss';
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function hexToRGBString($hexColor) {
    // 0.999999 val in alpha actually compiles to 1.0
    $rgbaVal: inspect(rgba($hexColor, 0.9999999));
    $first: str-replace($rgbaVal, 'rgba(', '');
    @return str-replace($first, ', 1)', '');
}

@function rgba-tpl($color, $alpha) {
    @if type-of($color)==color {
        @return rgba($color, $alpha);
    }
    @else {
        @return unquote("rgba(#{$color}, #{$alpha})");
    }
}

//MDL theme overrides
$primaryColor:#073642;
$primaryDarkColor:#002b36;
$accentColor: #2aa198;
$textColor: #222222;
//Color conversions
$primary: hexToRGBString($primaryColor);
$primary-dark: hexToRGBString($primaryDarkColor);
$accent: hexToRGBString($accentColor);
$text-color-primary: $textColor;
$color-primary: $primary;
$color-primary-dark: $primary-dark;
$color-accent: $accent;
$layout-header-bg-color: $primaryColor;
$layout-text-color: $text-color-primary;
//End overrides
@import '../../node_modules/material-design-lite/src/material-design-lite.scss';
@mixin fixImagePaths() {
    .mdl-checkbox__tick-outline {
        $checkbox-image-path: "../../node_modules/material-design-lite/src/images";
        mask: url("#{$checkbox-image-path}/tick-mask.svg");
        .mdl-checkbox.is-checked & {
            background: $checkbox-color url("#{$checkbox-image-path}/tick.svg");
        }
        .mdl-checkbox.is-checked.is-disabled & {
            background: $checkbox-disabled-color url("#{$checkbox-image-path}/tick.svg");
        }
    }
    // Webkit only
    @supports (-webkit-appearance:none) {
        $progress-image-path: "../../node_modules/material-design-lite/src/images/";
        .mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate) > .auxbar {
            background-image: linear-gradient(to right, $progress-secondary-color, $progress-secondary-color), linear-gradient(to right, $progress-main-color, $progress-main-color);
            mask: url('#{$progress-image-path}/buffer.svg');
        }
    }
}

@include fixImagePaths();
body {
    font-family: 'Roboto', sans-serif;
}

@media screen {
    body {
        section {
            max-width: 800px;
            margin: auto;
        }
        section.page-content {
            padding: 8px;
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            overflow-y: auto;
        }
    }
    pre, img {
        max-width: calc(100vw - 32px);
    }
    pre {
        width: calc(100vw - 32px);
        overflow-x: auto;
        background-color: rgba($primaryDarkColor, 0.94);
        color: whitesmoke;
        display: flex;
        min-height: 48px;
        align-items: center;
        padding: 8px;
    }
    p {
        text-align: justify;
        code, tt {
            background: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 1px 3px;
        }
    }
    div.mdl-layout__drawer {
        &.is-visible {
            @include desktop() {
                width: 360px;
            }
        }
        nav.mdl-navigation > a.mdl-navigation__link {
            display: none;
            &.is-active {
                display: block;
            }
        }
    }
}

@media print {
    @page {
        size: A4;
        bleed: 1cm;
        margin: 2cm 0;
    }
    img {
        margin: 1cm auto;
        max-width: 15cm;
    }
    div.mdl-layout__container {
        height: auto;
        .mdl-layout {
            height: auto;
        }
    }
    header.mdl-layout__header, div.mdl-layout__obfuscator, div.mdl-layout__drawer {
        display: none;
    }
    section.page-content.mdl-layout__tab-panel {
        margin: 0 1cm;
        display: block !important;
        width: calc(100% - 2cm);
        height: auto;
        div {
            page-break-after: always !important;
        }
        page-break-after: always !important;
        // break-after: always !important;
    }
    h1, h2, h3, h4 {
        page-break-before: always !important;
        // break-before: always !important;
    }
    ul, ol, p {
        page-break-inside: avoid !important;
        // break-inside: avoid !important;
    }
    h1, h2, h3, h4, h5 {
        page-break-after: avoid !important;
        // break-after: avoid !important;
    }
}