@import '../../node_modules/reveal.js/css/reveal.scss';
@import './_theme.scss';
@import './_neon.scss';
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
.reveal {
    //Blur background
    .backgrounds {
        filter: blur(2px);
        // transform: translateZ(0);
    }
    .slides.with-overlay {
        background-color: rgba(0, 0, 0, 0.54);
    }
    //Add darker overlay on code snippets
    pre {
        background-color: rgba(0, 0, 0, 0.74);
    }
    .slides {
        section {
            //Neon fragments :)
            .fragment {
                @each $name,
                $color in $neon-colors {
                    &.neon-#{$name},
                    &.neon-current-#{$name} {
                        opacity: 1;
                        visibility: visible;
                    }
                    &.neon-#{$name}.visible,
                    &.neon-current-#{$name}.current-fragment,
                    &.neon-current-hidden-#{$name}.current-fragment {
                        @extend .neon-text-#{$name};
                    }
                }
            }
            .fragment.lord-of-the-rings.visible {
                backface-visibility: hidden;
                font-family: 'Tangerine', cursive;
                transform: translateZ(0);
                font-size: 1.5em;
                .ring {
                    width: 100px;
                    display: inline-block;
                    background-image: url('../images/one_ring.png');
                }
            }
        }
    }
    .text-color-base {
        color: $base1;
    }
    .text-color-title-base {
        color: $base2;
    }
    .columns {
        display: flex;
        flex-direction: row;
        width: 100%;
        .column {
            display: block;
            flex-grow: 1
        }
        &.two {
            .column {
                width: 50%;
            }
        }
        &.three {
            .column {
                width: 33.3%;
            }
        }
    }
    .big {
        font-size: 1.25em;
    }
    .final-slide-text {
        position: relative;
        top: 0;
        font-size: 4em;
        line-height: 2em;
        font-family: 'Monoton', cursive;
    }
    .special {
        font-family: 'Arial Black';
        text-transform: uppercase;
    }
    span.inline-code{
        font-family: monospace;
        background-color: rgba(black, 0.7);
        padding: 0.125em 0.5em;
        line-height: 1em;
        font-size: 0.75em;
    }
    small.low{
        vertical-align: bottom;
    }
}

div.loading-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: $base00;
    z-index: 999999;
}

div.reveal,
div.loading-overlay {
    transition: opacity .15s ease-in-out;
}

#presentable-toc ol li ol li div {
    font-size: 0.6em;
}

#presentable-toc ol {
    ol {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 1s ease-in-out;
    }
    li:hover {
        ol {
            max-height: 1000px;
        }
    }
}