section
    h2 What is Apache Cordova
    
    p.fragment
        a(href="https://cordova.apache.org/") Apache Cordova 
        | is a popular 
        strike mobile
        b  hybrid 
        | application development framework.
    p.fragment Cordova is managed by Apache Foundation and it is 
        b free 
        | and 
        b open-source 
        | .
        small (Apache 2.0 License)
    p.fragment Its history dates back to 2011 when it was named 
        a(href="http://phonegap.com/") PhoneGap
        | . Now PhoneGap is a cordova-based tool managed by Adobe.
    p.fragment Several other popular tools and framework are based on Cordova, including 
        a(href="http://ngcordova.com/") ngCordova
        | ,     
        a(href="http://ionicframework.com/") Ionic
        | , 
        a(href="http://taco.tools/") Taco
        | , 
        a(href="https://software.intel.com/en-us/intel-xdk") Intel XDK
        | ,  
        a(href="http://www.telerik.com/platform#overview") Telerik Platform
        | , and 
        a(href="https://monaca.io/") Monaca
        | .
        
    aside.notes!= require('views/markdown/notes/2_cordova/1_what_is_cordova.md')