section
    h2 Supported Platforms
    p Cordova supports several platforms (including desktop).
    p.fragment Most popular <b>mobile</b> platforms: 
        span.text-color-green Android
        |, 
        span.text-color-yellow iOS 
        | and 
        span.text-color-blue Windows Phone
    p.fragment Most popular <b>desktop</b> platforms: 
        span.text-color-blue Windows UWP
        |, 
        span.text-color-violet Mac OSX 
        | and 
        span.text-color-orange Ubuntu
    p.fragment Some legacy platforms such as Blackberry, Firefox OS or WP <= 8 are also supported.
    p.fragment Unified API and core events. Platform-specific features may be available through plugins.
    
    aside.notes!= require('views/markdown/notes/2_cordova/2_supported_platforms.md')