section
    h2 Cordova CLI
    p This is the main tool for creating and managing projetc. Requires only 
        a(href="https://nodejs.org/") node.js 
        | to run.
    div.fragment
        p Easy to install:
            pre npm install -g cordova
    div.fragment
        p basic operations for the cordova command line utilities:
        div.two.columns
            ul.column
                li.fragment.text-color-red create
                li.fragment.text-color-orange prepare
                li.fragment.text-color-violet platform add/remove
            ul.column
                li.fragment.text-color-blue plugin add/remove
                li.fragment.text-color-yellow build
                li.fragment.text-color-green run
                
    aside.notes!= require('views/markdown/notes/2_cordova/3_cordova_cli.md')