section
    h2 Cordova App structure 
    p Basic diagram of the structure of a Cordova App
        img(src=require("images/cordovaapparchitecture.png") alt="Courtesy of Cordova https://cordova.apache.org/static/img/guide/cordovaapparchitecture.png" title="Basic diagram of the structure of a Cordova App" width="550px")
        small.fragment.fade-up The Web App should follow SPA (Single Page Application) design
    
    aside.notes!= require('views/markdown/notes/2_cordova/4_cordova_app.md')