section
    h2 Cordova first app
    p Creating your first app is 2 minutes matter!
    p.fragment Open a bash-compatible shell, then digit:
        pre.fragment mkdir HelloWorld && cd HelloWorld
        pre.fragment cordova create .
        pre.fragment cordova platform add browser
        pre.fragment cordova serve 8000
    p.fragment Now open 
        a(href="http://localhost:8000/browser/www") http://localhost:8000/browser/www 
        | using a web browser
        small (better results with Chrome)
    p
        span.big.special.fragment.neon-text-green That's it! 
        // span.big.fragment.fade-in
        //     span.fragment.fade-out.neon-text-green That's it! 
    p.fragment.fade-up
        small You should now see  Apache Cordova logo with a glowing green message "device ready"
        
    aside.notes!= require('views/markdown/notes/2_cordova/5_cordova_first_app.md')