section
    h2 The 
        span.text-color-green config.xml 
        | file
    ul
        li This is the core of a cordova app project.
        li.fragment It stores all information about a cordova app
            ul
                li.fragment.text-color-green
                    span.text-color-base app name, author, version
                li.fragment.text-color-green
                    span.text-color-base supported platforms and their versions
                li.fragment.text-color-green
                    span.text-color-base app resources and assets (icons, splashscreens, other files...)
                li.fragment.text-color-green 
                    span.text-color-base included plugins and their versions
        li.fragment cordova CLI will translate it into platform-specific projects depending on the host environment
    
    aside.notes!= require('views/markdown/notes/2_cordova/6_config_xml.md')