section
    h2 Cordova API
    p These are the most important API exposed by Cordova
    div.columns.two
        div.column.fragment
            h6 Life Cycle and hardware buttons 
                span.text-color-red events
            ul
                li.fragment.text-color-red
                    span.text-color-base deviceready: cordova API and plugins loaded
                li.fragment.text-color-red
                    span.text-color-base pause: the app goes background
                li.fragment.text-color-red
                    span.text-color-base resume: the app returns foreground
                li.fragment.text-color-red
                    span.text-color-base other events: backbutton, menubutton, volumedownbutton, volumeupbutton...
        div.column.fragment
            h6
                span.text-color-orange cordova 
                | object
            ul
                li.fragment.text-color-orange
                    span.text-color-base gives information about platform version
                li.fragment.text-color-orange
                    span.text-color-base exposes plugin loading callbacks 
                li.fragment.text-color-orange
                    span.text-color-base exposes plugin execution callbacks
    
    aside.notes!= require('views/markdown/notes/2_cordova/7_cordova_API.md')