section
    h2 Cordova Plugins
    ul(style="font-size: 0.85em")
        li Plugins are used to extend cordova basic features and enable webview access to those API that are not available by default by the HTML interfaces.
        li.fragment There are plugins for almost every device sensor/API: camera, bluetooth, gps, file system, push notifications...
        li.fragment Most of plugins are supplied through 
            a(href="https://cordova.apache.org/plugins/") cordova plugin registry
            |  and the most important ones are supported directly by the cordova dev team
        li.fragment It is possible to use plugins that are not on cordova registry, e.g. on a private repository
        li.fragment A plugin must define a 
            span.text-color-yellow plugin.xml 
            | file
        li.fragment A plugin has a JavaScript (universal) interface, and an optional native backend interface
        li.fragment The plugin native part can do anything a piece of native code can do, including loading shared libraries
        
    aside.notes!= require('views/markdown/notes/2_cordova/8_cordova_plugins.md')