section
    section
        h2 Apache Cordova
        img(src=require("images/cordova_256.png") alt="Apache Cordova Logo" title="Apache Cordova Logo" width="256px")
    include ./1_what_is_cordova.jade
    include ./2_supported_platforms.jade
    include ./3_cordova_cli.jade
    include ./4_cordova_app.jade
    include ./5_cordova_first_app.jade
    include ./6_config_xml.jade
    include ./7_cordova_API.jade
    include ./8_cordova_plugins.jade