mixin mdlLayoutTitle(title)
    span.mdl-layout-title!= title 

mixin mdlNavigationLinks()
    nav.mdl-navigation
        a.mdl-navigation__link.is-active(href="#section-1") Cross-Platform
        a.mdl-navigation__link(href="#section-2") Apache Cordova
        a.mdl-navigation__link(href="#section-3") Tutorial App

-var title = htmlWebpackPlugin.options.title;

div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    //MDL Waterfall header
    header.mdl-layout__header
        div.mdl-layout__header-row
            +mdlLayoutTitle(title)
            //- div.mdl-layout-spacer
        div.mdl-layout__tab-bar.mdl-js-ripple-effect
            a.mdl-layout__tab.is-active(href="#section-1") Cross-Platform
            a.mdl-layout__tab(href="#section-2") Apache Cordova
            a.mdl-layout__tab(href="#section-3") Tutorial App
            
    div.mdl-layout__drawer
        span.mdl-layout-title Table of Contents
        +mdlNavigationLinks()
            
    main.mdl-layout__content
        section#section-1.page-content.mdl-layout__tab-panel.is-active
            h2 Cross Platform Development
            div!= require('views/markdown/notes/1_intro/1_cross_platform.md')
            div!= require('views/markdown/notes/1_intro/2_web_based.md')
            div!= require('views/markdown/notes/1_intro/3_terminology.md')
            div!= require('views/markdown/notes/1_intro/4_hybrid_apps.md')
        section#section-2.page-content.mdl-layout__tab-panel
            h2 Apache Cordova
            div!= require('views/markdown/notes/2_cordova/1_what_is_cordova.md')
            div!= require('views/markdown/notes/2_cordova/2_supported_platforms.md')
            div!= require('views/markdown/notes/2_cordova/3_cordova_cli.md')
            div!= require('views/markdown/notes/2_cordova/4_cordova_app.md')
            div!= require('views/markdown/notes/2_cordova/5_cordova_first_app.md')
            div!= require('views/markdown/notes/2_cordova/6_config_xml.md')
            div!= require('views/markdown/notes/2_cordova/7_cordova_API.md')
            div!= require('views/markdown/notes/2_cordova/8_cordova_plugins.md')
        section#section-3.page-content.mdl-layout__tab-panel
            h2 Tutorial App
            div!= require('views/markdown/notes/3_tutorial_app/1_creating_a_cordova_app.md')
            div!= require('views/markdown/notes/3_tutorial_app/2_create_the_project.md')
            div!= require('views/markdown/notes/3_tutorial_app/3_code_structure.md')
            div!= require('views/markdown/notes/3_tutorial_app/4_code_structure.md')
            div!= require('views/markdown/notes/3_tutorial_app/5_building_the_app.md')
            div!= require('views/markdown/notes/3_tutorial_app/6_getting_ready_for_production.md')