include ./contentSecurityPolicy.jade

doctype html
html(lang="en")
    head
        title= htmlWebpackPlugin.options.title
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
        meta(name="msapplication-tap-highlight" content="no")
        +addContentSecurityPolicy(htmlWebpackPlugin.options.contentSecurityPolicy)
        
        -var target = htmlWebpackPlugin.options.target;
        
        if target === 'slides'
            include ../favicons/slides/favicons.jade
        else if target === 'docs'
            include ../favicons/docs/favicons.jade
       
        meta(name="theme-color" content=htmlWebpackPlugin.options.themeColor)
        meta(name="msapplication-TileColor" content=htmlWebpackPlugin.options.themeColor)
        
        body
        
        if target === 'slides'
            include ./slides_body.jade
        else if target === 'docs'
            include ./docs_body.jade