div.loading-overlay
div.reveal(style="opacity:0")
    div.slides
        //presentation title and TOC
        section
            section
                h1 Cordova Tutorial
                p.fragment A tutorial about 
                    a(href="https://cordova.apache.org/") Apache Cordova
                    | , (mobile) cross-platform web-based development techiniques, tools and frameworks
                small.fragment Author: 
                    a(href="mailto:vito.macchia@ismb.it") Vito Macchia 
                    | , 
                    a(href="http://www.ismb.it/vito.macchia") ISMB 
            section
                h2 Table of Contents
                nav#presentable-toc.revealjs
        
        if isTest
            //content slides TEST
            include ./slides/test/slide1.jade
            include ./slides/test/slide2.jade
            include ./slides/test/slide3.jade
            include ./slides/test/slide4.jade

        else 
            //content slides

            include ./slides/1_intro/index.jade
            include ./slides/2_cordova/index.jade
            include ./slides/3_tutorial_app/index.jade
            
            section
                h2 Conclusions
                
                p.fragment In this seminar we had a glance on x-platform techiniques, focusing on web-based ones
                p.fragment We also had a deeper look on Apache Cordova, the most popular (and free) x-platform tool
                p.fragment We built a minimalist tag scanning app to show how cordova plugins can be used
                p.fragment All the 
                    a(href="docs.html").fragment.neon-current-red documentation of this tutorial can be found here
            
            section
                div.final-slide-text.neon-text-blue The End!
                p.fragment.neon-text-orange Questions?