section 
    h2 Why cross-platform?

    p.fragmemt Reach the largest user audience
    p.fragment spreading a mobile app across multiple markets 
    p.fragment having one single code base...
    p.fragment.lord-of-the-rings
        i.ring.neon-shadow-orange &nbsp;
        b
            i.neon-text-orange one ring to rule them all
        
    aside.notes!= require('views/markdown/notes/1_intro/1_cross_platform.md')