section 
    h2 OK, then why web-based?
    p Web-Based development techinques are usually:
    ul
        li.fragment
            b.text-color-red faster 
            | to learn
        li.fragment
            b.text-color-yellow easier 
            | to setup
        li.fragment
            b.text-color-green simpler 
            | to debug
        li.fragment
            b.text-color-blue quicker 
            | to deploy
        
    aside.notes!= require('views/markdown/notes/1_intro/2_web_based.md')