section
    h2 Some terminology
    ul
        li.fragment
            b.text-color-red Web app
            span.fragment : a client-server application whose client interface runs in a web browser 
        li.fragment
            b.text-color-yellow Mobile app
            span.fragment : an application which runs on mobile platforms (usually distributed through app stores)
        li.fragment
            b.text-color-orange Mobile Web app
            span.fragment : a web app whose user experience is similar to a mobile app, but still runs in a browser
        li.fragment
            b.text-color-violet Mobile Hybrid app  
            span.fragment : a mobile app whose UI runs in a 
                b.fragment.neon-blue web view    
    aside.notes!= require('views/markdown/notes/1_intro/3_terminology.md')