section
    h2 Hybrid apps
    p When to go for hybrid apps?
    small (non-exaustive list)
    ul
        li.fragment distribution through app stores is a must
        li.fragment recycling/wrapping web app UI
        li.fragment the app has to work also offline
        li.fragment the app needs to access device APIs which are not available to the browser (e.g. NFC, Bluetooth)
        li.fragment not enough budget/time/effort for maintaining three different codebases
        li.fragment developer team with HTML/JS competencies
        li.fragment rapid UI prototyping
    
    aside.notes!= require('views/markdown/notes/1_intro/4_hybrid_apps.md')